.chat
  =render 'layouts/side_bar'

  .chat-space
    .chat-header
      %p.chat-header__name= "#{@group.name}"
      %p.chat-header__members= "Group-members"
      %a.chat-header__edit{ href: "/groups/#{@group.id}/edit", method: :get } Edit
    .border
    .chat-body
      %ul
        %li
          %p.chat-body__user-name= "#{current_user.name}"
          %p.chat-body__date= "#"
          %p.chat-body__text= "#"
    .chat-footer
      .chat-footer__form
        %form{action: "/", method: "post"}
          .chat-footer__form__text-box
            %input.text{placeholder: "type a message"}
            %label{for: "image", type: "file"}
              %input#image{type: "file"}
              %i.fa.fa-image
          %button.submit Send
