.chat
  =render 'layouts/side_bar'

  .chat-space
    .chat-header
      %p.chat-header__name= @group.name
      %p.chat-header__members
        = "Members:"
        -@users.each do |user|
          = user.name
      %a.chat-header__edit{ href: "/groups/#{@group.id}/edit", method: :get } Edit
    .border
    .chat-body
      %ul.chat-content
        = render @messages
    .chat-footer
      .chat-footer__form
        = form_for [@group, @message] do |f|
          .chat-footer__form__text-box
            = f.text_field :content, placeholder: "type a message", class: "text"
            = f.label :image do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, id: "message_image"
          = f.submit "send", class: "submit"
